/* .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-container input {
    margin-right: 10px;
    width: 300px;
  }
   */